body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.02em;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
  margin: 0;
}

.section-title {
  color: #2e2f42;
}

.contaner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.no-section {
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (min-width: 428px) {
  .contaner {
    width: 428px;
  }
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 768px) {
  .contaner {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .contaner {
    width: 1158px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.nav-contaner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}
.logo .logo-w {
  color: #2e2f42;
}

.icon-menu-hamburger {
  width: 32px;
  height: 22px;
  stroke: #2e2f42;
  margin-left: auto;
}

.nav-list {
  display: none;
}

.nav-address {
  display: none;
}

.header-line {
  border-bottom: 1px solid #e7e9fc;
}

@media screen and (min-width: 768px) {
  .nav-contaner {
    padding-top: 0;
    padding-bottom: 0;
  }
  .icon-menu-hamburger {
    display: none;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-address {
    display: inline-block;
    font-style: normal;
    margin-left: auto;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 120px;
  }
  .nav-list .nav-item:not(:last-child) {
    margin-right: 40px;
  }
  .nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover, .nav-link:focus {
    color: #404bbf;
    -webkit-transform: color #404bbf;
            transform: color #404bbf;
  }
  a.link-studio:visited {
    color: #404bbf;
  }
  .nav-item.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: #404bbf;
    border-radius: 2px;
  }
  .addr-list {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
  }
  .address-link {
    color: #434455;
    text-decoration: none;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:hover, .address-link:focus {
    color: #404bbf;
    -webkit-transform: color #404bbf;
            transform: color #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .nav-list {
    margin-left: 76px;
  }
  .addr-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
  }
  .addr-item {
    margin-left: 40px;
  }
}
/* Hero */
.hero {
  width: 100%;
  min-height: 432px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 112px;
  padding-bottom: 112px;
  text-align: center;
  background-color: #2e2f42;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("./images/dark-bg-mobile.jpg");
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("./images/dark-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("./images/dark-bg-mobile@2x.jpg");
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("./images/dark-bg-mobile@2x.jpg");
  }
}
.hero-title {
  margin-bottom: 72px;
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: #404bbf;
  -webkit-transform: background-color #404bbf;
          transform: background-color #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    min-height: 436px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/dark-bg-tablet.jpg");
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/dark-bg-tablet.jpg");
  }
  .hero-title {
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/dark-bg-tablet@2x.jpg");
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/dark-bg-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    min-height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/dark-bg-desktop.jpg");
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/dark-bg-desktop.jpg");
  }
  .hero-title {
    margin-bottom: 48px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1158px), screen and (min-resolution: 192dpi) and (min-width: 1158px), screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/dark-bg-desktop@2x.jpg");
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/dark-bg-desktop@2x.jpg");
  }
}
/* Section skills */
.section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section-title.transparent {
  display: none;
}

@media screen and (min-width: 428px) {
  .skills-list {
    display: inline-block;
  }
  .skills-list .skills-item:not(:last-child) {
    margin-bottom: 72px;
  }
  .icon-bl-skills {
    display: none;
  }
  .pro-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
  }
  .text {
    font-weight: 500;
  }
}
@media screen and (min-width: 768px) {
  .skills-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skills-list .skills-item {
    width: 356px;
    margin-right: 24px;
    margin-bottom: 72px;
  }
  .skills-list .skills-item:nth-child(2n) {
    margin-right: 0;
  }
  .pro-title {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .skills-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .skills-list .skills-item:not(:last-child) {
    margin-right: 24px;
    margin-bottom: 0;
  }
  .icon-bl-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border: none;
    border-radius: 4px;
    background-color: #f4f4fd;
  }
  .icom-skills {
    width: 64px;
    height: 64px;
  }
  .pro-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
  }
  .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
}
/* Section team */
@media screen and (min-width: 428px) {
  .section-team {
    background-color: #f4f4fd;
  }
  .team-list {
    display: inline-block;
  }
  .team-item {
    padding-left: 67px;
    padding-right: 67px;
    margin-bottom: 72px;
  }
  .team-blok {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
  }
  .card-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
  }
  .about-text {
    font-weight: 400;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }
  .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
  }
  .social-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    background: #4d5ae5;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-link:hover, .social-link:focus {
    background-color: #404bbf;
    -webkit-transform: background-color #404bbf;
            transform: background-color #404bbf;
  }
  .social-item {
    padding-right: 24px;
  }
  .social-item:last-child {
    padding-right: 0;
  }
  .social-icon {
    width: 16px;
    height: 16px;
  }
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  padding: 40px 32px 164px 32px;
  overflow: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-btn:hover .overlay, .about-btn:focus .overlay {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}/*# sourceMappingURL=main.css.map */