body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.02em;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0px;
}

img {
  display: block;
  margin: 0;
}

.section-title {
  color: #2e2f42;
}

.contaner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.section-team {
  width: 100%;
  background-color: #f4f4fd;
}

.no-section {
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (min-width: 428px) {
  .contaner {
    width: 428px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .contaner {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .contaner {
    width: 1158px;
  }
}
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .nav-address {
    display: none;
  }
}
.header-line {
  border-bottom: 1px solid #e7e9fc;
}

.nav-contaner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}
.logo .logo-w {
  color: #2e2f42;
}

.menu-mob-btn {
  background: transparent;
  padding: 0;
  border: none;
  line-height: 0;
}

.icon-menu-hamburger {
  width: 32px;
  height: 22px;
  stroke: #2e2f42;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .nav-contaner {
    padding-top: 0;
    padding-bottom: 0;
  }
  .icon-menu-hamburger {
    display: none;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-address {
    display: inline-block;
    font-style: normal;
    margin-left: auto;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 120px;
  }
  .nav-list .nav-item:not(:last-child) {
    margin-right: 40px;
  }
  .nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover, .nav-link:focus {
    color: #404bbf;
    -webkit-transform: color #404bbf;
            transform: color #404bbf;
  }
  .link-studio:visited {
    color: #404bbf;
  }
  .nav-item.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: #404bbf;
    border-radius: 2px;
  }
  .addr-list {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
  }
  .address-link {
    color: #434455;
    text-decoration: none;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:hover, .address-link:focus {
    color: #404bbf;
    -webkit-transform: color #404bbf;
            transform: color #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .nav-list {
    margin-left: 76px;
  }
  .addr-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
  }
  .addr-item {
    margin-left: 40px;
  }
}
/* Hero */
.hero {
  width: 100%;
  min-height: 432px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 112px;
  padding-bottom: 112px;
  text-align: center;
  background-color: #2e2f42;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/dark-bg-mobile.jpg");
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/dark-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/dark-bg-mobile@2x.jpg");
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/dark-bg-mobile@2x.jpg");
  }
}
.hero-title {
  margin-bottom: 72px;
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: #404bbf;
  -webkit-transform: background-color #404bbf;
          transform: background-color #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    min-height: 436px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/dark-bg-tablet.jpg");
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/dark-bg-tablet.jpg");
  }
  .hero .hero-title {
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/dark-bg-tablet@2x.jpg");
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/dark-bg-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    min-height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/dark-bg-desktop.jpg");
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/dark-bg-desktop.jpg");
  }
  .hero-title {
    margin-bottom: 48px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1158px), screen and (min-resolution: 192dpi) and (min-width: 1158px), screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/dark-bg-desktop@2x.jpg");
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/dark-bg-desktop@2x.jpg");
  }
}
/* Section skills */
.section-skills {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section-title.transparent {
  display: none;
}

.skills-list {
  display: inline;
}
.skills-list .skills-item:not(:last-child) {
  margin-bottom: 72px;
}

.icon-bl-skills {
  display: none;
}

.pro-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.text {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .skills-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skills-list .skills-item {
    width: 356px;
    height: auto;
    margin-right: 24px;
  }
  .skills-list .skills-item:nth-child(2n) {
    margin-right: 0;
  }
  .skills-list .skills-item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .pro-title {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .section-skills {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .section-title {
    display: none;
  }
  .skills-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .skills-list .skills-item {
    width: 264px;
  }
  .skills-list .skills-item:not(:last-child) {
    margin-right: 24px;
    margin-bottom: 0;
  }
  .icon-bl-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border: none;
    border-radius: 4px;
    background-color: #f4f4fd;
  }
  .icom-skills {
    width: 64px;
    height: 64px;
  }
  .pro-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
  }
  .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
}
/* Section works */
@media screen and (max-width: 1157px) {
  .section-works {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .section-title-works {
    padding-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .section-works {
    padding-top: 0;
    padding-bottom: 120px;
  }
  .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .work-list .work-item:not(:last-child) {
    margin-right: 24px;
  }
  .img-work {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
/* Section team */
.section-title-team {
  padding-top: 96px;
  padding-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-item {
  margin-bottom: 72px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-blok {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.card-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.about-text {
  font-weight: 400;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  background: #4d5ae5;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: #404bbf;
  -webkit-transform: background-color #404bbf;
          transform: background-color #404bbf;
}

.social-item {
  padding-right: 24px;
}
.social-item:last-child {
  padding-right: 0;
}

.social-icon {
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .team-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 96px;
  }
  .team-item {
    margin-right: 24px;
    margin-bottom: 64px;
  }
  .team-item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1158px) {
  .section-title-team {
    padding-top: 120px;
  }
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-bottom: 120px;
  }
  .team-item {
    margin-right: 24px;
    margin-bottom: 0;
  }
  .team-item:last-child {
    margin-right: 0;
  }
}
/* Customers */
@media screen and (max-width: 1157px) {
  .customers-title {
    display: none;
  }
}
.section-customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.customers-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 168px;
  height: 88px;
  fill: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover, .customers-link:focus {
  border: 1px solid #404bbf;
  fill: #404bbf;
  -webkit-transform: border 1px solid #404bbf, fill 1px solid #404bbf;
          transform: border 1px solid #404bbf, fill 1px solid #404bbf;
}

.customers-icon {
  width: 104px;
  height: 56px;
}

@media screen and (max-width: 767px) {
  .customers-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .customers-link {
    width: 190px;
  }
  .customers-item {
    margin-right: 16px;
    margin-bottom: 72px;
  }
  .customers-item:nth-child(2n) {
    margin-right: 0;
  }
  .customers-item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .customers-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .customers-link {
    width: 168px;
  }
  .customers-item {
    margin-right: 24px;
    margin-bottom: 72px;
  }
  .customers-item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1158px) {
  .section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .customers-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .customers-item {
    margin-bottom: 0;
  }
  .customers-item:last-child {
    margin-right: 0;
  }
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  padding: 40px 32px 164px 32px;
  overflow: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-btn:hover .overlay, .about-btn:focus .overlay {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.footer {
  width: 100%;
  height: 664px;
  background-color: #2e2f42;
}

.logo .logo-stud {
  color: #f4f4fd;
}

.foot-text {
  width: 268px;
  margin-top: 16px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 72px;
}

.footer-social-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.social-footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.social-footer-item {
  margin-right: 16px;
}
.social-footer-item:last-child {
  margin-right: 0;
}

.social-footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: #4d5ae5;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer-link:hover, .social-footer-link:focus {
  background-color: #404bbf;
  -webkit-transform: background-color #404bbf;
          transform: background-color #404bbf;
}

.social-footer-icon {
  width: 24px;
  height: 24px;
}

/* Footer form*/
.e-mail-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.footer-form-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-form-label {
  width: 100%;
  margin-bottom: 16px;
}

.footer-form-input {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  color: #f4f4fd;
  border: 1px solid #ffffff;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #434455;
  opacity: 0.6;
}
.footer-form-input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-form-input::-moz-placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-form-input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-form-input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 165px;
  padding: 8px 24px;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.footer-button:hover, .footer-button:focus {
  background-color: #404bbf;
  -webkit-transform: background-color #404bbf;
          transform: background-color #404bbf;
}

.button-icon {
  margin-left: 16px;
}

@media screen and (min-width: 428px) {
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    height: 456px;
  }
  .social-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page-footer {
    margin-right: 24px;
  }
  .e-mail-input {
    display: inline-block;
    text-align: left;
    margin-right: 0;
  }
  .footer-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-form-label {
    margin-bottom: 0;
  }
  .footer-form-input {
    margin-right: 24px;
    width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .footer {
    height: 312px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .about-footer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social-footer {
    margin-left: 120px;
  }
  .e-mail-input {
    margin-left: auto;
  }
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-form-input {
    margin-right: 24px;
    margin-left: auto;
    width: 264px;
    opacity: 1;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 392px;
  min-height: 586px;
  background: #fcfcfc;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  border: none;
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(46, 47, 66, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: #4d5ae5;
  fill: #ffffff;
  -webkit-transform: background-color #4d5ae5;
          transform: background-color #4d5ae5;
  -webkit-transform: fill #ffffff;
          transform: fill #ffffff;
}

.icon-cancel {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  stroke-opacity: 0;
}

/* Modal form */
.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.modal-label-feald {
  margin-bottom: 8px;
}

.input-desk {
  display: block;
  margin-bottom: 4px;
  font-weight: 400px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #8e8f99;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
  -webkit-transform: border-color #4d5ae5;
          transform: border-color #4d5ae5;
  -webkit-transform: fill #4d5ae5;
          transform: fill #4d5ae5;
}
.modal-form-input:focus + .modal-form-intut-icon {
  fill: #4d5ae5;
}
.modal-form-input:focus + .modal-form-intut-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.input-wrappery {
  display: block;
  position: relative;
}

.form-message {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-message:focus {
  outline: none;
  border-color: #4d5ae5;
  -webkit-transform: border-color #4d5ae5;
          transform: border-color #4d5ae5;
}
.form-message::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1/17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.form-message::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1/17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.form-message:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1/17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.form-message::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1/17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1/17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.check {
  display: block;
}

.fake-checkbox {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  background-color: #f4f4fd;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.check-input:checked:focus + .fake-checkbox {
  outline: none;
  background-color: #4d5ae5;
  -webkit-transform: background-color #4d5ae5;
          transform: background-color #4d5ae5;
}
.check-input:checked + .fake-checkbox > .check-icon {
  opacity: 1;
}

.check-icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 7px;
  opacity: 0;
  fill: #f4f4fd;
}

.visually-hidden {
  position: fixed;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.mod-form-heck-desk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-link {
  color: #4d5ae5;
}

.modal-btn-submit {
  display: inline-block;
  -ms-flex-item-align: center;
      align-self: center;
  width: 169px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-submit:hover, .modal-btn-submit:focus {
  background-color: #404bbf;
  -webkit-transform: background-color #404bbf;
          transform: background-color #404bbf;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  max-width: 428px;
  height: 100%;
  max-height: 796px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 0;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu_contaner {
  position: relative;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
}

.mobile-menu_close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 0;
  line-height: 0;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu_close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  stroke-opacity: 0;
}

.mobile-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 284px;
}

.mobile-menu-item {
  padding-bottom: 40px;
}
.mobile-menu-item:last-child {
  padding-bottom: 0;
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-link:hover, .mobile-menu-link:focus {
  color: #404bbf;
  -webkit-transform: color #404bbf;
          transform: color #404bbf;
}

.mobile-menu_address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 48px;
}

.mobile-menu_addr-item {
  padding-bottom: 40px;
}
.mobile-menu_addr-item:last-child {
  padding-bottom: 0;
}

.mobile-menu_address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #434455;
  text-decoration: none;
}

.mobile-menu_address-link.phone-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #4d5ae5;
}

.mobile-menu_social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.mobile-menu_social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  background: #4d5ae5;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu_social-link:hover, .mobile-menu_social-link:focus {
  background-color: #404bbf;
  -webkit-transform: background-color #404bbf;
          transform: background-color #404bbf;
}

.mobile-menu_social-item {
  padding-right: 56px;
}
.mobile-menu_social-item:last-child {
  padding-right: 0;
}

.mobile-menu_social-icon {
  width: 16px;
  height: 16px;
}/*# sourceMappingURL=main.css.map */