goit-markup-hw-07 {
  --main-background-color: #ffffff;
  --main-text-color: #434455;
  --secondary-text-color: #4d5ae5;
  --main-title-color: #2e2f42;
  --secondary-title-color: #ffffff;
  --button-bg-color: #f4f4fd;
  --list-color: #404bbf;
  --color-line: #e7e9fc;
  --color-icon: #8e8f99;
  --second-fill-color: #31d0aa;
  --modal-bg-col: #fcfcfc;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);

  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.02em;
}
.list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0px;
}
.section-title {
  color: var(--main-title-color);
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.no-section {
  padding-top: 0;
  padding-bottom: 0;
}
.contaner {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Header */
.header-line {
  border-bottom: 1px solid var(--color-line);
}
.nav-contaner {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--secondary-text-color);

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}
.logo .logo-w {
  color: var(--main-title-color);
}

/* Navigation */
.nav-list {
  display: flex;
  margin-left: 76px;
}
.nav-list .nav-item:not(:last-child) {
  margin-right: 40px;
}
.nav-list .nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--main-title-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--list-color);
  transform: color var(--list-color);
}
a.link-studio:visited {
  color: var(--list-color);
}
.nav-item.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--list-color);
  border-radius: 2px;
}
.nav-address {
  font-style: normal;
  margin-left: auto;
}
.addr-list {
  display: flex;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.addr-list .addr-item + .addr-item {
  margin-left: 40px;
}
.addr-list .address-link {
  color: var(--main-text-color);

  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.addr-list .address-link:hover,
.addr-list .address-link:focus {
  color: var(--list-color);
  transform: color var(--list-color);
}

/* Hero */
.section.hero {
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-color: var(--main-title-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  margin-bottom: 48px;

  color: var(--main-background-color);

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;

  background-color: var(--secondary-text-color);
  color: var(--secondary-title-color);

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: var(--list-color);
  transform: background-color var(--list-color);
}

/* Section skills */
.section-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section-title.transparent {
  display: none;
}
.skills-list {
  display: flex;
}
.skills-list .skills-item:not(:last-child) {
  margin-right: 24px;
}
.icon-bl-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  border: none;
  border-radius: 4px;

  background-color: var(--button-bg-color);
}
.icom-skills {
  width: 64px;
  height: 64px;
}

.pro-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* Section works */
.section-works {
  padding-top: 0;
  padding-bottom: 120px;
}
.work-list {
  display: flex;
}
.work-list .work-item:not(:last-child) {
  margin-right: 24px;
}
.img-work {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Section team */
.section-team {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: var(--button-bg-color);
}
.team-list {
  display: flex;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-list .team-item:not(:last-child) {
  margin-right: 24px;
}
.team-item {
  margin: 0;
}
.img-team {
  display: block;
  max-width: 100%;
  height: auto;
}
.team-blok {
  padding-top: 32px;
  padding-bottom: 32px;

  background-color: var(--main-background-color);

  border-radius: 0px 0px 4px 4px;
}
.card-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.about-text {
  font-weight: 400;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;

  background: var(--secondary-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--list-color);
  transform: background-color var(--list-color);
}
.social-item {
  padding-right: 24px;
}
.social-item:last-child {
  padding-right: 0;
}
.social-icon {
  width: 16px;
  height: 16px;
}

/* Customers */
.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  fill: var(--color-icon);
  border: 1px solid var(--color-icon);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--list-color);
  fill: var(--list-color);
  transform: border 1px solid var(--list-color),
    fill 1px solid var(--list-color);
}
.customers-item {
  margin-right: 24px;
}
.customers-item:last-child {
  margin-right: 0;
}
.customers-icon {
  width: 104px;
  height: 56px;
}
/* Portfolio */
.section.port-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.buttons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}
.buttons-list .buttons-item:not(:last-child) {
  margin-right: 24px;
}
.buttons-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons-item:hover,
.buttons-item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transform: box-shadow 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button {
  display: inline-block;
  padding: 12px 24px;

  background-color: var(--button-bg-color);
  color: var(--secondary-text-color);
  border: 1px solid var(--color-line);
  border-radius: 4px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: var(--secondary-text-color);
  color: var(--main-background-color);
  transform: background-color var(--secondary-text-color);
  transform: color var(--main-background-color);
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
}
.projects-item {
  margin-right: 24px;
  margin-bottom: 48px;
}
.projects-item:nth-child(3n) {
  margin-right: 0;
}
.projects-item:nth-child(n + 6) {
  margin-bottom: 0;
}
.about-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-link:hover,
.about-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: box-shadow 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.wrapper {
  position: relative;
  overflow: hidden;
}
.img-projects {
  display: block;
  max-width: 100%;
  height: auto;
}
.project-work {
  padding: 32px 0px 32px 16px;
  border: 1px solid var(--color-line);
}
.works-title {
  margin-bottom: 8px;

  color: var(--main-title-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}
.pro-text {
  color: var(--main-text-color);

  font-size: 16px;
  line-height: 1.5;
}

/* Overlay */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  padding: 40px 32px 164px 32px;
  overflow: auto;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--button-bg-color);
  background-color: var(--secondary-text-color);

  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-btn:hover .overlay,
.about-btn:focus .overlay {
  transform: translate(0, 0);
}

/* Footer */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--main-title-color);
}
.about-footer-block {
  display: flex;
}
.logo .logo-stud {
  color: var(--button-bg-color);
}
.foot-text {
  width: 264px;
  margin-top: 16px;

  color: var(--main-background-color);

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.social-footer {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
}
.footer-social-title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--main-background-color);
}
.social-footer-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.social-footer-item {
  margin-right: 16px;
}
.social-footer-item:last-child {
  margin-right: 0;
}
.social-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;

  background-color: var(--secondary-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer-link:hover,
.social-footer-link:focus {
  background-color: var(--list-color);
  transform: background-color var(--list-color);
}
.social-footer-icon {
  width: 24px;
  height: 24px;
}

/* Footer form*/

.e-mail-input {
  margin-left: auto;
}
.footer-form-text {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--main-background-color);
}

.footer-form-input {
  display: inline-block;
  margin-right: 24px;
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  color: var(--button-bg-color);
  border: 1px solid var(--secondary-title-color);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--main-title-color);
}
.footer-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: var(--secondary-title-color);
}
.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-button {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 8px 24px;
  border-radius: 4px;
  border: none;

  background-color: var(--secondary-text-color);
  color: var(--secondary-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.button-icon {
  margin-left: 16px;
}
.footer-button:hover,
.footer-button:focus {
  background-color: var(--list-color);
  transform: background-color var(--list-color);
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);
  min-width: 408px;
  min-height: 576px;
  background: var(--modal-bg-col);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  border: none;
  width: 24px;
  height: 24px;
  background: var(--color-line);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-cancel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  stroke-opacity: 0;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--secondary-text-color);
  fill: var(--main-background-color);
  transform: background-color var(--secondary-text-color);
  transform: fill var(--main-background-color);
}

/* Modal form */
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-text {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--main-title-color);
}
.modal-label-feald {
  margin-bottom: 8px;
}
.input-desk {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1/17;
  letter-spacing: 0.01em;

  color: var(--color-icon);
}
.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--secondary-text-color);
  transform: border-color var(--secondary-text-color);
  transform: fill var(--secondary-text-color);
}
.modal-form-input:focus + .modal-form-intut-icon {
  fill: var(--secondary-text-color);
}
.input-wrappery {
  display: block;
  position: relative;
}
.modal-form-intut-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
.form-message {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-message:focus {
  outline: none;
  border-color: var(--secondary-text-color);
  transform: border-color var(--secondary-text-color);
}
.form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1/17;
  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);
}
.check {
  display: block;
}

.fake-checkbox {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  background-color: var(--button-bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}
.check-icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 7px;
  opacity: 0;
  fill: var(--button-bg-color);
}
.check-input:checked:focus + .fake-checkbox {
  outline: none;
  background-color: var(--secondary-text-color);
  transform: background-color var(--secondary-text-color);
}
.check-input:checked + .fake-checkbox > .check-icon {
  opacity: 1;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}
.mod-form-heck-desk {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-icon);
}
.checkbox-link {
  color: var(--secondary-text-color);
}
.modal-btn-submit {
  display: inline-block;
  align-self: center;
  width: 169px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;

  background-color: var(--secondary-text-color);
  color: var(--secondary-title-color);

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-submit:hover,
.modal-btn-submit:focus {
  background-color: var(--list-color);
  transform: background-color var(--list-color);
}
