 /* Section works */
 
 @media screen and (max-width: 1157px) {
    .section-works {
        display: none;
    }
 }
 @media screen and (min-width: 1158px){
    .section-title-works {
        padding-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }
    .section-works {
            padding-top: 0;
            padding-bottom: 120px;
        }
    
        .work-list {
            display: flex;
    
            & .work-item:not(:last-child) {
                margin-right: 24px;
            }
        }
    
        .img-work {
            display: block;
            max-width: 100%;
            height: auto;
        }
 }
 
