 /* Section skills */
.section-skills {
    padding-top: 96px;
    padding-bottom: 96px;
}
.section-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    &.transparent {
            display: none;
        }
}

.skills-list {
    display: inline;

    & .skills-item:not(:last-child) {
        margin-bottom: 72px;
    }

}

.icon-bl-skills {
    display: none;
}

.pro-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.text {
    font-weight: normal;
}
 

@media screen and (min-width: 768px) {
    .skills-list {
        display: flex;
        flex-wrap: wrap;
        
        & .skills-item {
            width: 356px;
            height: auto;
            margin-right: 24px; 
        }
        
         & .skills-item:nth-child(2n) {
             margin-right: 0;
        }

        & .skills-item:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }
          
    } 
        .pro-title {
            text-align: left;
        }
}
@media screen and (min-width: 1158px) {
    .section-skills {
            padding-top: 120px;
            padding-bottom: 120px;
        }
    .section-title {
        display: none;
    }
    .skills-list {
        flex-wrap: nowrap;

        & .skills-item {
                width: 264px;

        }

        & .skills-item:not(:last-child) {
            margin-right: 24px;
            margin-bottom: 0;
        }
    }
    .icon-bl-skills {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
        border: none;
        border-radius: 4px;
    
        background-color: $buttonBgColor;
    }
    
    .icom-skills {
        width: 64px;
        height: 64px;
    }
    .pro-title {
        margin-bottom: 8px;
        
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
    }
        
    .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
    }
}
